{% extends 'firstapp/base.html' %}


{% block body %}
 <h1 class="text-center mb-5">change password</h1>

 <h3><a class="text-center" href="{% url 'homestudi' %}">Homepage</a></h3>

 <form action="{% url 'password_change' %}" method="POST">
  {% csrf_token %}

  {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
      {{error}}
    </div>
  {% endfor %}

  {% for field in form %}
    <div class = "form-group">
      {{ field.label}}
      {{ field }}
    </div>
    
    {% if field.errors %}
      <div class="alert alert-danger">
        {{field.errors}}

      </div>
    {% endif %}
  {% endfor %}

  <button type="submit" class="btn btn-success">change password</button>
  
 </form>
{% endblock body %}