{% extends 'firstapp/base.html' %}

{% block title %}Edit Your Profil{% endblock title %}

{% block body %}
  <header>
    <h1><b>Edit Profil</b></h1>
  </header>
  <nav>
    <a href="{% url 'Übersicht' %}">Übersicht</a>
    <a href="{% url 'New' %}">Neues TODO</a>
  </nav>

  <form method="POST" action="">
    <div class="text-center">
      {{form.errors}}
      {{form.success}}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
      {% csrf_token %}
      <button type="submit" class="btn btn-primary btn-lg">Änderungen akzeptieren</button>
    </div>
  </form>
  {% endblock body %}

  {% block css %}
    <style>
  
    </style>
  {% endblock css %}
  
  {% block javascript %}
    <script>
  
    </script>
  {% endblock javascript %}
