{% extends 'firstapp/base.html' %}

{% block title %}Edit Your Profil{% endblock title %}

{% block body %}
  <header>
    <h1><b>Edit Profil (in Progress)</b></h1>
  </header>

  <div class="text-center row" style="background-color:lightblue">
    <a id="returnBtn" class="btn btn-lg" onClick="window.history.back()">Go Back</a>
  </div>
  <br>

  <form method="POST" action="">
    <div class="text-center">
      {{form.errors}}
      {{form.success}}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
      {% csrf_token %}

      <button type="submit" class="btn btn-primary btn-lg" href="{% url 'Übersicht' %}">Änderungen akzeptieren</button>
    </div>
  </form>
  {% endblock body %}

  {% block css %}
    <style>
  
    </style>
  {% endblock css %}
  
  {% block javascript %}
    <script>
  
    </script>
  {% endblock javascript %}
