{% extends 'firstapp/base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
  <header>
      <h1><b>About</b></h1>
  </header>
  <div class="text-center row" style="background-color:lightblue">
    <a id="returnBtn" class="btn btn-lg" onClick="window.history.back()">Go Back</a>
  </div>
  <br>
  <div id="text" class="text-center">
      <b>Autoren:</b> Vincent Wehr, Federica Faßbender, David Hörmann, Armand Borel Kengne Tene und Yiran Sun <br />
      <b>Email:</b> platzhalter@email.de <br />
      <b>Telefon:</b> 030 1234567 <br />
  </div>
{% endblock body %}

{% block css %}
  <style>

  </style>
{% endblock css %}

{% block javascript %}
  <script>

  </script>
{% endblock javascript %}
