{% extends 'firstapp/base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block body %}

  <div class="d-flex flex-row align-items-center">
    <div>
      <img class="logo" src="{% static 'images/logo.jpg'%}" alt="ASDSAD" onclick="javascript:window.location='http://127.0.0.1:8000/cls/';" on/>
    </div>
    <div class="spacer" style="background-color:rgb(255, 255, 255)">
    </div>
    <div>
      <h1 id="loginTitle"><b> About SimpleSlot </b></h1>
    </div>

  </div>


  <div class="text-center row" style="background-color:lightblue">
    <a id="returnBtn" class="btn btn-lg" onClick="window.history.back()">Go Back</a>
  </div>
  <br>

  <div class="about" style="background-color:rgb(255, 255, 255)">
    <b>Autoren:</b> Vincent Wehr, Federica Faßbender, David Hörmann, Armand Borel Kengne Tene und Yiran Sun <br />
    <b>Email:</b> platzhalter@email.de <br />
    <b>Telefon:</b> 030 1234567 <br />
  </div>

{% endblock body %}

{% block css %}
<style>
p {
  padding: 10px;
  text-align: left;
  font-size: 30px;
  background-color: rgb(255, 255, 255);
}
#loginTitle {
    color:rgb(0, 194, 194);
    padding: 30px 100px;
    font-size: 50px;
    text-align: center;
  }
.about {
  padding: 40px;
  text-align: left;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
}
</style>
{% endblock css %}

{% block javascript %}
  <script>

  </script>
{% endblock javascript %}
