{% extends 'firstapp/base.html' %}

{% block title %}User Login{% endblock title %}

{% block body %}
  <h1><b>Login</b></h1>

  <div class="text-center">
    <div class="col justify-content-center">
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
      <!-- {{message.success}}
      {{message.error}} -->
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-outline mb-4">
          <label class="form-label" for="inputName">Name</label>
          <input type="text" id="inputName" name="username" class="form-control" placeholder="Username" required />
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="inputPassword">Passwort</label>
          <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Passwort" required />
        </div>
        <button type="submit" class="btn btn-primary btn-lg" style="padding:10px 80px">Login</button>
      </form>
    </div>
  </div>
  <hr/>
  <div class="text-center">
    <p>Noch kein Account?</p>
    <a class="btn btn-secondary" href="{% url 'Register' %}" role="button">Registrieren</a>  
  </div>
{% endblock body %}

{% block css %}
  <style>

  </style>
{% endblock css %}