{% extends 'firstapp/base.html' %}
{% load static %}
{% block title %}User Login{% endblock title %}

{% block body %}
    <div class="d-flex flex-row align-items-center">
      <div>
        <img class="logo" src="{% static 'images/logo.jpg'%}" alt="ASDSAD" onclick="javascript:window.location='http://127.0.0.1:8000/cls/';" on/>
      </div>
      <div class="spacer" style="background-color:rgb(255, 255, 255)">
      </div>
      <div>
        <h1 id="loginTitle"><b> SimpleSlot </b></h1>
      </div>

    </div>


  <h2 id="sitename"><b>Login</b></h2>

  <div class="text-center">
    <div class="col justify-content-center">
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
      <!-- {{message.success}}
      {{message.error}} -->
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-outline mb-4">
          <label class="form-label" for="inputName">Name</label>
          <input type="text" id="inputName" name="username" class="form-control" placeholder="Username" required />
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="inputPassword">Password</label>
          <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Passwort" required />
        </div>
        <button type="submit" class="btn btn-primary btn-lg" style="padding:10px 80px">Login</button>
      </form>
    </div>
  </div>

  <hr/>
  <div class="text-center">
    <p>No account yet?</p>
    <a class="btn btn-secondary" href="{% url 'Register' %}" role="button">Register</a>  
  </div>
{% endblock body %}

{% block css %}
<style>
  #loginTitle {
    color:rgb(0, 194, 194);
    padding: 30px 100px;
    font-size: 60px;
    text-align: center;
  }

</style>
{% endblock css %}

{% block javascript %}
<script>
  
</script>
{% endblock javascript %}