{% extends 'firstapp/base.html' %}

{% block title %}Profile Edit{% endblock title %}

{% block body %}
<h1 id="sitename">Account Info</h1>
<nav>
   <a href="{% url 'homestudi' %}">Homepage</a>
  <!--  | <a href="{% url 'profile' user.id %}">Profile</a> -->
   | <a href="{% url 'password_change' %}">Change Password</a> 
   | <a href="{% url 'Logout' %}">Logout</a>
</nav>

<div class="p-3 py-5">
   <div class="col justify-content-center">
      <div><h3>{{ user.username }}s profile</h3></div>
      <br>
      
      <div class="form-wrapper">
         <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mt-3">
               <div class="row mt-2">
                  <div class="col-md-3"><label class="labels"> First Name</label> {{user_form.first_name}} </div>
                  <div class="col-md-3"><label class="labels"> Last Name </label> {{user_form.last_name}} </div>
               </div>
            <div class="spacer"> </div>
               <div class="row mt-2">
                  <div class="col-md-3"><label class="labels">Phone Nr.</label>  </div>
                  <div class="col-md-3"><label class="labels">Student ID</label> {{user_profile_form.matrikelnummer}} </div>
               </div>
            <div class="spacer"> </div>
               <div class="col-md-3"><label class="labels">Email Adress</label> {{user_profile_form.email}} </div>
            </div>

            {% comment %} {% for field in form %}
            <div class="fieldWrapper">
               {{ field.errors }}
               {{ field.label_tag }} {{ field }}
               {% if field.help_text %}
               <p class="help">{{ field.help_text|safe }}</p>
               {% endif %}
            </div>
            {% endfor %} {% endcomment %}

            <div class="spacer"> </div>
            <div class="spacer"> </div>
            <div class="button-wrapper submit">
               <input class="btn btn-primary btn-lg" type="submit" value="Save" />
            </div>
         </form>
      </div>
   </div>
</div>


{% endblock body %}

{% block css %}
  <style>

  </style>
{% endblock css %}

{% block javascript %}
  <script>

  </script>
{% endblock javascript %}