{% extends 'firstapp/base.html' %}

{% block title %}Register{% endblock title %}

{% block body %}
  <h1 id="sitename"><b>Register</b></h1>
  <form method="POST" action="">
    <div class="text-center">
      {{form.errors}}
      {{form.success}}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
      {% csrf_token %}
      <!-- {{form.as_p}} comes with help_texts -->
      <p><b>{{form.username.label}}</b></p>
      <p>{{form.username}}</p>
      <span><ul>
        <li>max 150 characters. Letters, digits and @ . + - _ only.</li>
      </ul></span>

      <p><b>{{form.password1.label}}</b></p>
      <p>{{form.password1}}</p>
      <span><ul>
        <li>Your password can't be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can't be a commonly used password.</li>
        <li>Your password can't be entirely numeric.</li>
      </ul></span>

      <p><b>{{form.password2.label}}</b></p>
      <p>{{form.password2}}</p>
      
      <div class="pb-3">
        <div> <b> {{user_profile_form.email.label}} </b></div>
        <div>{{user_profile_form.email}}</div>

        <div class="pt-3"> <b> {{user_profile_form.matrikelnummer.label}} </b></div>
        <div>{{user_profile_form.matrikelnummer}}</div>
      </div>

      <p><button type="submit" class="btn btn-primary btn-lg" style="padding:10px 40px">Register</button></p>
    </div>
  </form>

  <!-- old register form, replaced with above django form but may use later
  <form method="POST" action="" style="border:1px solid #ccc">
    <div class="text-center">
        <div class="col justify-content-center">
          <form action="" method="POST">
            {% csrf_token %}
            <div class="form-outline mb-4">
              <label class="form-label" for="inputName">Name</label>
              <input type="text" id="inputName" class="form-control" placeholder="Name" required />
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="inputNr">Matrikelnummer</label>
              <input type="text" id="inputNr" class="form-control" placeholder="Matrikelnummer" required />
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="inputPassword">Passwort</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Passwort" required />
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="repeatPassword">Passwort wiederholen</label>
              <input type="password" id="repeatPassword" class="form-control" placeholder="Passwort wiederholen" required />
            </div>
            <button type="submit" class="btn btn-primary btn-lg" style="padding:10px 80px">Login</button>
          </form>
        </div>
      </div>
  </form> -->
  <div class="text-center">
    <p>Already registered?</p>
    <a class="btn btn-secondary" href="{% url 'Login' %}" role="button">Login</a>  
  </div>
{% endblock body %}

{% block css %}
  <style>
  
  </style>
{% endblock css %}
  
{% block javascript %}
  <script>
  
  </script>
{% endblock javascript %}