{% extends 'firstapp/base.html' %}

{% block title %}Reservation{% endblock title %}

{% block body %}
  <header>
      <h1><b>Chose Time Slot</b></h1>
  </header>

  <!-- <nav>
    <a href="{% url 'bookSlot' cluster.id user.id %}">cluster</a>
  </nav> -->
  <nav>
    <a href="{% url 'homestudi' %}">Homepage</a>
  </nav>
  
  <div class="container-fluid w-50">
    <table class="table">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Title</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-sm-1">{{cluster.tag_system}}</td>
          <td class="col-sm-2">{{cluster.title}}</td>
          <td class="col-lg-6">{{cluster.Beschreibung}}</td>
        </tr>  
      </tbody>
    </table>  
  </div>
  {{message.error}}
  <!--   <form action= "" method="post">
    {%csrf_token%}
    <p>{{form.date}}</p>
    <button type="submit" class="btn btn-primary">Reserve (Default Form)</button>
  </form> -->
  <div class="text-center">
    <form action= "" method="post"> 
      {%csrf_token%}
      <label for="userIDInputDefault"><b>User: {{user.username}}</b></label>
      <pre>with ID:</pre>
      <input type="text" name="userID" id="userIDInputDefault" value={{user.id}} size="1" disabled />

      <label for="cluserIDInputDefault"><b>Cluster: {{cluster.title}}</b> with ID:</label>
      <pre>with ID:</pre>
      <input type="text" name="clusterID" id="cluserIDInputDefault" value={{cluster.id}} size="1" disabled />
      
      <label for="reserveDate"><b>Pick A Date</b></label>
      <input type="date" name="date" id="reserveDate" />
      <button type="submit" class="btn btn-primary">Reserve</button>
    </form> 
  </div>
{% endblock body %}

{% block css %}
  <style>
    label {
      font-size: 18px;
    }
    input {
      display: block;
      margin : 0px auto 20px;
      font-size: 18px;
    }
    input[disabled] {
      border: 0;
    }
  </style>
{% endblock css %}

{% block javascript %}
  <script>

  </script>
{% endblock javascript %}
