{% extends 'firstapp/base.html' %}

{% block title %}Reservation{% endblock title %}

{% block body %}
  <header>
      <h1><b>Chose Time Slot</b></h1>
  </header>

  <nav>
    <a href="{% url 'bookSlot' cluster %}">PDAJPSAJD</a>
  </nav>

   <h1>Show a Date Control</h1>
  <div class="container-fluid">
    <div class="table-responsive">
      <table id="mainTable" class="table table-striped table-hover">
        <thead>
          <tr>
            <th><a class="table-head-button" href="?order_by=tag_system">Tag</a></th>
            <th><a class="table-head-button" href="?order_by=title">Title</a></th>
            <th><a class="table-head-button" href="?order_by=Beschreibung">Description</a></th>
          </tr>
        </thead>
        <tbody>
              <tr>
                <td class="col-sm-1">{{cluster.tag_system}}</td>
                <td class="col-sm-2">{{cluster.title}}</td>
                <td class="col-lg-6">{{cluster.Beschreibung}}</td>
              </tr>  
        </tbody>
      </table>  
    </div>
  </div>



  <form action="/action_page.php">
    <label for="birthday">Birthday:</label>
    <input type="date" id="birthday" name="birthday">
    <input type="submit">
  </form>
  
{% endblock body %}

{% block css %}
  <style>

  </style>
{% endblock css %}

{% block javascript %}
  <script>

  </script>
{% endblock javascript %}
